
{% extends 'template.html.twig' %}

{% block title %}{{'programme_emploi_projet'|trans}}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('uploads/css/orientation.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div id="path-to-pe_active" data-href="{{ path('modPEIsActiveProjet', {id:'val' , checked:'ac'} )}}"> </div>
    <div id="path-to-pe_valide" data-href="{{ path('peIsValideProjet', {id:'val' , checked:'ac'} )}}"> </div>
    <div id="path-to-pe_periode" data-href="{{ path('getperiodesProjet', {id:'val' , checked:'ac'} )}}"> </div>

				<!--breadcrumb-->
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">{{'programme_emploi_projet'|trans}}</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bi bi-cash-coin"></i></a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">{{'liste_programme_emploi_projet'|trans}}</li>
							</ol>
						</nav>
					</div>
				
				</div>
				<hr/>
  {% include "flaches.html.twig" %}
  {#  {% if periodes is not empty %}


  <div class="card color-table" style="width:30%; margin: 0 auto; min-width: 400px; background-color:#618264;   " >
                    <div class="card-body">
                      <table class="table mb-0"  style="text-align:center !important ; font-weight:bold; width:80%;  margin: 0 auto;  ">
                        <thead>
                          <tr>
<th  style="text-align:center !important ; ">{{'libelle'|trans}}</th>
<th  style="text-align:center !important ; ">{{'periode'|trans}}</th>
<th  style="text-align:center !important ; ">{{'activation'|trans}}</th>
                          </tr>
                        </thead>
                        <tbody>
                         {% for p in periodes %}
<tr>
<td>{{p.libelle}}</td>
<td id="id_periode_{{p.id}}">{{p.periode}}</td>
<td>

                     
                            <div class=" smart-form row">
                                <section class="col col-12">
                                    <!-- Rounded switch -->
                                    <label class="switch">
                                        <input type="checkbox" id="platformPeriode" name="platformPeriode" class="finance_periode" value="{{p.id}}" {% if p.actif == 'O' %} checked="checked" {% endif %}>
                                        <span class="slider round"></span>
                                    </label>
                                </section>
                            </div>
                       
</td>
</tr>
{% endfor %}
                        </tbody>
                      </table> 
                    </div>
               </div>   

               {% else %}
                    <div class="alert alert-danger">
                        <strong> {{'no_programe_emploi'|trans}} </strong>  
                    </div>
                {% endif %}           
	<hr/> #}
                {% if ProgrammeEmploi is not empty %}
				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
							<table id="example" class="table table-striped table-bordered"  style="text-align:center !important ; " >
								<thead>
                                    <tr>
                                      <th  style="text-align:center !important ; ">  {{'ref'|trans}}</th>
                                      <th  style="text-align:center !important ; ">  {{'intitule'|trans}}</th>
                                      <th  style="text-align:center !important ; ">  {{'annee'|trans}}</th>
                                      <th  style="text-align:center !important ; ">  {{'montant'|trans}}</th>
                                      <th  style="text-align:center !important ; ">  {{'personnel'|trans}}</th>
                                      <th  style="text-align:center !important ; ">  {{'nombre_rubrique'|trans}}</th>
                                      <th  style="text-align:center !important ; ">  {{'execution_pe'|trans}}</th>
                                      <th  style="text-align:center !important ; ">  {{'modification'|trans}}</th>
                                      <th  style="text-align:center !important ; ">  {{'valide_pe'|trans}}</th>
     
                                      <th  style="text-align:center !important ; ">  {{'op'|trans}}</th>
                                      
                                    </tr>
								</thead>
								<tbody>
                                    {% for pe in ProgrammeEmploi %}
                                     
                                   
                                            <tr>
                            
                                        <td class="sorting_1">{{pe.reference}}</td>
                                        <td>{{pe.intitule}}</td>
                                        <td>{{pe.annee}}</td>
                                        <td style="color:green;font-weight:bold;">{{pe.montant|number_format(2, ',', '.')}} </td>
                                
                                        <td>{{pe.personne.nom }} {{pe.personne.prenom }}</td>

                                        {% if pe.programmeElementProjets|length > 0 %}
                                            <td style="background-color: #A5DD9B;color: white;font-weight:bolder;">{{pe.programmeElementProjets|length}}</td>
                                        {% else %}
                                            <td style="background-color: #EF9595;color: white;font-weight:bolder;">{{pe.programmeElementProjets|length}}</td>
                                        {% endif %}

                             
                                        <td>
                                          <div class="text-center">
                                            <a class="btn  btn-xs" data-toggle="tooltip" data-placement="top" title="détail" href="#"><span style="{% if pe.programmeElementProjets|length > 0 %} color:black; {% endif %}" class="fa fa-edit">éxecution </span></a>
                                          </div>
                                        </td>
                                      
                                        <td>

                                      

                                                
                                                <div class=" smart-form row">
                                                    <section class="col col-12">
                                                        <!-- Rounded switch -->
                                                        <label class="switch">
                                                            <input  type="checkbox"  class="platformActive form-check-input " name="platformActive" value="{{pe.id}}" {% if pe.activer == 'OUI' %} checked="checked" {% endif %}>
                                                            <span style="width:70px;height:25px;"  class="slider round"></span>
                                                        </label>
                                                    </section>

                                                </div>

                                          

                                        </td>
                                        <td>
                                           

                                                
                                                <div class=" smart-form row">
                                                    <section class="col col-12">
                                                        <!-- Rounded switch -->
                                                        <label class="switch">
                                                            <input style="width:30px;"  type="checkbox"  class="platformValide" name="platformValide" value="{{pe.id}}" {% if pe.valider == 'OUI' %} checked="checked" {% endif %}>
                                                            <span style="width:70px;height:25px;"   class="slider round"></span>
                                                        </label>
                                                    </section>

                                                </div>

                                           
                                        </td>

                                          
                                        <td>
                                            <div class="text-center">
                                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="imprimer" href="{{ path('pdfPEProjet', { 'id': pe.id }) }}"><i class="bi bi-file-earmark-arrow-down"></i></a>&nbsp;
                                                <a href="{{ path('showProgrammeEmploiProjet', {'id': pe.id}) }}" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" aria-label="Views"><i class="bi bi-eye-fill"></i></a>&nbsp;
                                            
                                                <a href="{{ path('editProgrammeEmploiProjet', {'id': pe.id}) }}" class="text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" aria-label="Edit"><i class="bi bi-pencil-fill"></i></a>&nbsp;
                                                    <a href="{{ path('remove_ProgrammeEmploiProjet', {'id': pe.id ,'_token':csrf_token('delete' ~ pe.id) }) }}" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" aria-label="Delete" onclick=" function delete_msg_trans()
                                                                {
                                                                    langue = document.getElementById('langue').value  ;
                                                                    
                                                                    msg = 'Are yous sure to delete this item ?';
                                                                if(langue=='fr-FR'){
                                                                msg = 'Êtes-vous sûr de vouloir supprimer cet enregistrement ?'
                                                                    }
                                                                if(langue=='en-GB'){
                                                                msg = 'Are yous sure to delete this item ?'
                                                                        }
                                                                if(langue=='ar-AR'){
                                                                msg = '? هل أنت متأكد أنك تريد حذف هذا السجل '
                                                                            }
                                                                if(langue=='es-ES'){
                                                                msg = '¿Está seguro de que desea eliminar este registro?'
                                                                                }
                                                                return msg ;
                                                                }
                                                                a = delete_msg_trans() ; return confirm(a)"><i class="bi bi-trash-fill"></i></a>
                                            </div>
                                        </td>


                                      </tr>
                                    {% endfor %}
                                            
						        </tbody>
							
							</table>
						</div>
					</div>
				</div>
                {% else %}
                    <div class="alert alert-success">
                        <strong> {{'no_programe_emploi'|trans}} </strong>  
                    </div>
                {% endif %}



{% endblock %}

 {% block javascripts %}

{{ parent() }}
  {{ encore_entry_script_tags('programme_emploi_projet_ajax') }}
  

{% endblock %}
