<div class="row">
 <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
              <div class="breadcrumb-title pe-3">{{'dms'|trans}}</div>
              <div class="ps-3">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item"><a href="javascript:;"><i class="bi bi-arrow-bar-up"></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{{'fhs'|trans}}</li>
                  </ol>
                </nav>
              </div>
         
            </div>

<div class="col-lg-12 mx-auto">
   <div class="card">
     <div class="card-body">
 {% include "flaches.html.twig" %}
<div class="card shadow-none bg-light border">
      <div class="card-body">
            <div class="card-header py-2 bg-transparent"><h6 class="mb-0">{{'titles.edit_dem_fh'|trans}} {{'n'|trans}} {{id}}</h6></div>
                            <div class="row g-3">
                      {{ form_start(form ,{ 'attr' : { 'class' : 'row g-3' }}) }}
                    

                         
                               <div class="col-4">
                               {{ form_row(form.etablissement ,{ 'attr' : { 'class' : 'form-control' }}) }}
                             </div>
                             <div class="col-4">
                               {{ form_row(form.moisDebut ,{ 'attr' : { 'class' : 'form-control jsom-datepicker' }}) }}
                             </div>
                            <div class="col-4">
                              {{ form_row(form.moisFin,{ 'attr' : { 'class' : 'form-control jsom-datepicker' }}) }} 
                            </div>
                             <div class="col-4">
                               {{ form_row(form.ville ,{ 'attr' : { 'class' : 'form-control' }}) }}
                             </div>
                            <div class="col-4">
                               {{ form_row(form.nbHeure,{ 'attr' : { 'class' : 'form-control'  }}) }}
                            </div>

        
                         
                          

                           {{ form_row(form._token) }}

                              </div>
                             
                            </div>  
                        </div>



                        


{% if (app.user.personnel.typePersonnelId.Id !=2) %}
<div class="card shadow-none bg-light border">
      <div class="card-body">
            <div class="card-header py-2 bg-transparent"><h6 class="mb-0">{{'cr_horaire'|trans}}</h6></div>
<p style="font-family: 'Times New Roman', Arial, Verdana, Sans-serif; margin-top: 20px;">{{'fh_crenau'|trans}}</p>
  <div class="card-body"  id="engagement_list" data-prototype="{{ form_widget(form.engagements.vars.prototype)|e('html_attr')}}" >
 {% for row in form.engagements %}
                      <div class="form-group panel">
                        <div class="row panalEngagement" style="margin-bottom: 15px;">

                        {{ form_row(row.jours,{'attr': {'placeholder': 'Date de Rattrapage','class':' form-control'}}) }}

                            {{ form_row(row.heureDebut,{'attr': {'placeholder': 'Type Engagement','class':'form-control'}}) }}
                             
                              {{ form_row(row.heureFin,{'attr': {'placeholder': 'Matière','class':'form-control'}}) }}
                             
                            
                   
                           
                        </div>

                      </div>
                    {% endfor %}
        </div>

      </div>
</div>

{% endif %}

<div class="card shadow-none align-items-center">
<div class="col-4">    
  <button type='submit' class="btn btn btn-success px-4 col-12"> {{'save'|trans}} </button> 
</div>
</div>

 {{ form_end(form , {'render_rest': false}) }}


<div class="card shadow-none bg-light border">
      <div class="card-body">
            <div class="card-header py-2 bg-transparent"><h6 class="mb-0"></h6>{{'titles.hist_dem_fh'|trans}}</div>
                      <div class="row g-3">
                                    <div class="table-responsive">
                            <table id="example" class="table table-striped table-bordered" style="text-align:center !important ; " >
                              <thead>
                                <tr>
                        
                                  <th style="text-align:center !important ; ">{{'n'|trans}}</th>
                                  <th style="text-align:center !important ; ">{{'date_envoie'|trans}}</th>  
                                  <th style="text-align:center !important ; ">{{'date_debut'|trans}}</th>
                                  <th style="text-align:center !important ; ">{{'date_fin'|trans}}</th>  
                                  <th style="text-align:center !important ; ">{{'etablissement'|trans}}</th>         
                                  <th style="text-align:center !important ; ">{{'ville'|trans}}</th>    
                                  <th style="text-align:center !important ; ">{{'statut'|trans}}</th>    
                                  <th style="text-align:center !important ; ">{{'niveau_act'|trans}}</th>    
                                  <th style="text-align:center !important ; ">{{'motif_refus'|trans}}</th>       
                                  <th style="text-align:center !important ; ">{{'op'|trans}}</th>  
                                
                                </tr>
                              </thead>
                              <tbody>
                                {% for ficheheure in ficheheures %}
                                    <tr  {{  ficheheure.id  == id ? 'style="background-color:#ADD8E6;"' }} >
                                        <td>{{ ficheheure.id }}</td>
                               
                                        <td>{{ ficheheure.dateEnvoie|date('Y-m-d - H:i') }}</td>
                                        <td>{{ ficheheure.moisDebut|date('Y-m-d') }} </td>
                                        <td>{{ ficheheure.moisFin|date('Y-m-d') }} </td>
                                        <td>{{ ficheheure.etablissement}} </td>
                                         <td>{{ ficheheure.ville}} </td>
                                        {% if ficheheure.statut  == '-1' %}
                                        <td style="color:black;font-weight:bold;">{{'encours'|trans}}</td>
                                         
                                           
                                        {% elseif ficheheure.statut  == '0' %}
                                        <td style="color:blue;font-weight:bold;"> {{'confirme'|trans}}</td>
                                         
                                           
                                        {% elseif ficheheure.statut  == '1' %}
                                        <td style="color:green;font-weight:bold;"> {{'valide'|trans}}</td>
                                         
  
                                        {% elseif ficheheure.statut  == '2' %}
                                        <td style="color:red;font-weight:bold;"> {{'refuse'|trans}}</td>
                                        {% else %}
                                        <td></td>
                                         {% endif %}

 

                                       {% if ficheheure.niveau  == 'ROLE_RH' %}
                                        <td style="color:black;font-weight:bold;"> {{'service_rh'|trans}}</td>
                                         
                                        {% elseif ficheheure.niveau  == 'ROLE_CHEF_SERV' %}
                                        <td style="color:black;font-weight:bold;"> {{'chef_service'|trans}}</td>
                                          
                                        {% elseif ficheheure.niveau  == 'ROLE_DIR_ADJ' %}
                                        <td style="color:black;font-weight:bold;"> {{'dir_adj'|trans}}</td>
                                         
                                        {% elseif ficheheure.niveau  == 'ROLE_SG' %}
                                        <td style="color:black;font-weight:bold;"> {{'sg'|trans}}</td> 

                                          {% elseif ficheheure.niveau  == 'ROLE_CHEF_DEP' %}
                                        <td style="color:black;font-weight:bold;"> {{'chef_dep'|trans}}</td> 

                                          {% elseif ficheheure.niveau  == 'ROLE_CHEF_FIL' %}
                                        <td style="color:black;font-weight:bold;"> {{'chef_filiere'|trans}}</td> 

                                        {% elseif ficheheure.niveau  == 'ROLE_CHEF_STRUCT' %}
                                        <td style="color:black;font-weight:bold;"> {{'chef_structure'|trans}}</td> 

                                        {% elseif ficheheure.niveau  == 'ROLE_DIR' %}
                                        <td style="color:black;font-weight:bold;"> {{'directeur'|trans}}</td>

                                        {% else %}
                                          <td> - </td>
                                        {% endif %}


                                  <td> {{ficheheure.motif }}</td>

                                        <td>
                                          <div class="table-actions fs-6">
                                           {% if ficheheure.statut == "-1"  and ficheheure.bloque != 1 %}
                                            <a href="{{ path('app_ficheheure_edit', {'id': ficheheure.id}) }}" class="text-tiffany" data-bs-toggle="tooltip" data-bs-placement="bottom" aria-label="Edit"><i class="bi bi-pencil-fill"></i></a>
&nbsp;  &nbsp;

 <a href="{{ path('app_ficheheure_delete', {'id': ficheheure.id ,'_token':csrf_token('delete' ~ ficheheure.id) }) }}" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" aria-label="Delete" onclick=" function delete_msg_trans()
{
    langue = document.getElementById('langue').value  ;
    
    msg = 'Are yous sure to delete this item ?';
if(langue=='fr-FR'){
  msg = 'Êtes-vous sûr de vouloir supprimer cet enregistrement ?'
    }
if(langue=='en-GB'){
  msg = 'Are yous sure to delete this item ?'
          }
  if(langue=='ar-AR'){
  msg = '? هل أنت متأكد أنك تريد حذف هذا السجل '
              }
if(langue=='es-ES'){
   msg = '¿Está seguro de que desea eliminar este registro?'
                  }
   return msg ;
}
 a = delete_msg_trans() ; return confirm(a)"><i class="bi bi-trash-fill"></i></a>  

 {% endif %}                                        </div>
                                              
                                        </td>

                                    </tr>
                            
                                {% endfor %}
                              </tbody>
                            
                            </table>
                          </div>
                                </div>
      </div>
</div>


</div>

</div>

</div>




</div>

{% block javascripts %}
           
  {{ encore_entry_script_tags('bootstrap-datepicker.min') }}  

  {{ encore_entry_script_tags('engagement ficheheure') }}
  
{% endblock %}