
{% extends 'template.html.twig' %}

{% block title %}{{'stock'|trans}}{% endblock %}

{% block body %}
				<!--breadcrumb-->
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">{{'stock'|trans}}</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bi bi-box-seam"></i></a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">{{'trs_materiel'|trans}}</li>
							</ol>
						</nav>
					</div>
				
				</div>
				<hr/>
                {% if demandes is not empty %}
				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
							<table id="example" class="table table-striped table-bordered" style="text-align:center !important ;"  >
								<thead>
									<tr>
										<th style="text-align:center !important ;" >{{'n_demande'|trans}}</th>
										<th style="text-align:center !important ;" >{{'demandeur'|trans}}</th>
                                        <th style="text-align:center !important ;" >{{'op'|trans}}</th>
									</tr>
								</thead>
								<tbody>
								    {% for demande in demandes %}
                                        <tr>
                                            <td>{{demande.numdemande}}</td>
                                            <td>{{demande.personnel.nom}} {{demande.personnel.prenom}}</td>
                                            <td>
                                                <div class="text-center">
                                                    <a href="{{ path('showDemande', {'id': demande.id}) }}" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" aria-label="Views"><i class="bi bi-eye-fill"></i></a>&nbsp;&nbsp;
                                            
                                                    <a href="{{ path('editDemande', {'id': demande.id}) }}" class="text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" aria-label="Edit"><i class="bi bi-pencil-fill"></i></a>&nbsp;&nbsp;
                                                    <a href="{{ path('remove_Demande', {'id': demande.id ,'_token':csrf_token('delete' ~ demande.id) }) }}" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" aria-label="Delete" onclick=" function delete_msg_trans()
                                                                {
                                                                    langue = document.getElementById('langue').value  ;
                                                                    
                                                                    msg = 'Are yous sure to delete this item ?';
                                                                if(langue=='fr-FR'){
                                                                msg = 'Êtes-vous sûr de vouloir supprimer cet enregistrement ?'
                                                                    }
                                                                if(langue=='en-GB'){
                                                                msg = 'Are yous sure to delete this item ?'
                                                                        }
                                                                if(langue=='ar-AR'){
                                                                msg = '? هل أنت متأكد أنك تريد حذف هذا السجل '
                                                                            }
                                                                if(langue=='es-ES'){
                                                                msg = '¿Está seguro de que desea eliminar este registro?'
                                                                                }
                                                                return msg ;
                                                                }
                                                                a = delete_msg_trans() ; return confirm(a)"><i class="bi bi-trash-fill"></i></a>
                                                </div>
                                            </td>			
                                        </tr>
                                    {% endfor %}
								</tbody>
							
							</table>
						</div>
					</div>
				</div>
                {% else %}
                    <div class="alert alert-success">
                        <strong>  {{'no_dem_materiel'|trans}} </strong>  
                    </div>
                {% endif %}



{% endblock %}

