	              				
{% extends 'template.html.twig' %}

{% block title %}{{'dms'|trans}}{% endblock %}
{% block stylesheets %}

        {{ parent() }}
        
{% endblock %}
{% block body %}
     
<div class="row">
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">{{'dms'|trans}}</div>
        <div class="ps-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item"><a href="javascript:;"><i class="bi bi-box-seam"></i></a></li>
                    <li class="breadcrumb-item active" aria-current="page"> {{'dem_materiel'|trans}}</li>
                </ol>
            </nav>
        </div>
         
    </div>

    <div class="col-lg-12 mx-auto">
        <div class="card">
            <div class="card-body">
                {% include "flaches.html.twig" %}
                {{ form_start(form, { 'action': path('addDemande'), 'attr': { 'class': 'form-horizontal' } }) }}
                    <div class="card shadow-none bg-light border">
                        <div class="card-body">
                            <div class="row g-3">
                      
                                <div class="col-6" hidden>
                                    {{ form_row(form.numdemande) }}
                                </div>
                                
                                <div class="card shadow-none bg-light border">
      <div class="card-body">
            <div class="card-header py-2 bg-transparent"><h6 class="mb-0">{{'liste_materiel_demande'|trans}}</h6></div>
<p style="font-family: 'Times New Roman', Arial, Verdana, Sans-serif; margin-top: 20px;">{{'ajouter_materiel_demande'|trans}}</p>
  <div class="box-body"  id="lignedemande_list" data-prototype="{{ form_widget(form.demandelignes.vars.prototype)|e('html_attr')}}" >
 {% for row in form.demandelignes %}
                      <div class="form-group panel">
                        <div class="row panalEngagement" style="margin-bottom: 15px;">

                            
                               {{ form_row(row.article,{'attr': {'placeholder': 'article','class':'form-control'}}) }}
                             
                              {{ form_row(row.qte,{'attr': {'placeholder': 'quantite','class':'form-control'}}) }}
                               
                        </div>

                      </div>
                    {% endfor %}
        </div>

      </div>
</div>
                                

                                <div class="col-12">
                                    <div class="col-sm-offset-2 col-sm-10 ">
                                
                                        <button type='submit' class="btn btn btn-success px-4 col-4" style="float:right"> {{'save'|trans}} </button>
                                        <a class="btn btn btn-primary px-4 col-2" style="float:left" href="{{ path('demandes') }}"> {{'back'|trans}} </a>
                                    
                                    </div>
                                </div>
                                {{ form_row(form._token) }}

                            </div>
                        </div>     
                    </div>
                {{ form_end(form , {'render_rest': false}) }}    
            </div>
        </div>
    </div>
</div>


{% endblock %} 


{% block javascripts %}
      <script src="{{ asset('uploads/js/jquery-3.6.0.min.js') }}"></script>	    	
      <script src="{{ asset('uploads/js/moment-with-locales.min.js')}}"></script>
<script src="{{ asset('uploads/js/bootstrap-material-datetimepicker.min.js')}}"></script>

{{ encore_entry_script_tags('lignedemande') }}

    {{parent()}}  
     
{% endblock %} 


     
     
     
     
     
     
     
     
     
     
     
		              