{% extends 'base.html.twig' %}

{% block title %}GradeAv{% endblock %}

{% block body %}
    <h1>GradeAv</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ grade_av.id }}</td>
            </tr>
            <tr>
                <th>Rapide</th>
                <td>{{ grade_av.rapide }}</td>
            </tr>
            <tr>
                <th>Exceptionnel</th>
                <td>{{ grade_av.exceptionnel }}</td>
            </tr>
            <tr>
                <th>Normale</th>
                <td>{{ grade_av.normale }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_grade_av_index') }}">back to list</a>

    <a href="{{ path('app_grade_av_edit', {'id': grade_av.id}) }}">edit</a>

    {{ include('grade_av/_delete_form.html.twig') }}
{% endblock %}
