	              				
{% extends 'template.html.twig' %}

{% block title %}{{'reception'|trans}}{% endblock %}
{% block stylesheets %}

        {{ parent() }}
        <link href="{{ asset('uploads/css/bootstrap-material-datetimepicker1.min.css') }}" rel="stylesheet" >
        
{% endblock %}
{% block body %}
     
<div class="row">
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">{{'reception'|trans}}</div>
        <div class="ps-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item"><a href="javascript:;"><i class="bi bi-box-seam"></i></a></li>
                    <li class="breadcrumb-item active" aria-current="page"> {{'ajouter_reception'|trans}}</li>
                </ol>
            </nav>
        </div>
         
    </div>

    <div class="col-lg-12 mx-auto">
        <div class="card">
            <div class="card-body">
                {% include "flaches.html.twig" %}
                {{ form_start(form, { 'action': path('addReception'), 'attr': { 'class': 'form-horizontal' } }) }}
                    <div class="card shadow-none bg-light border">
                        <div class="card-body">
                            <div class="row g-3">
                      
                                <div class="col-6">
                                    {{ form_row(form.numreception) }}
                                </div>

                                <div class="col-6">
                                    {{ form_row(form.datereception) }}
                                </div>
								<div class="col-6">
                                    {{ form_row(form.fournisseur) }}
                                </div>
								
								<div class="col-6">
                                    {{ form_row(form.bcaoautre) }}
                                </div>
                                <div class="col-6">
                                    {{ form_row(form.numbcao) }}
                                </div>
                                <div class="col-6">
                                    {{ form_row(form.numlivraison) }}
                                </div>
                                <div class="col-6">
                                    {{ form_row(form.neuf) }}
                                </div>
                                <div class="col-6">
                                    {{ form_row(form.exoneretva) }}
                                </div>
                                <div class="col-6">
                                    {{ form_row(form.totalht) }}
                                </div>
                                <div class="col-6">
                                    {{ form_row(form.totaltva) }}
                                </div>
                                <div class="col-6">
                                    {{ form_row(form.totalttc) }}
                                </div>

                                <div class="card shadow-none bg-light border">
      <div class="card-body">
        <div class="card-header py-2 bg-transparent"><h6 class="mb-0">{{'reception_lignes'|trans}}</h6></div>
               <p style="font-family: 'Times New Roman', Arial, Verdana, Sans-serif; margin-top: 20px;">{{'reception_lignes_text'|trans}}</p>
                 <div class="box-body"  id="lignereception_list" data-prototype="{{ form_widget(form.receptionlignes.vars.prototype)|e('html_attr')}}" >
                     {% for row in form.receptionlignes %}
                       <div class="form-group panel">
                         <div class="row panalEngagement">

                            
                               {{ form_row(row.article,{'attr': {'class':'form-control'}}) }}

                               {{ form_row(row.qte,{'attr': {'class':'form-control'}}) }}
                             
                            
                   
                           
                        </div>

                      </div>
                    {% endfor %}
            </div>
         </div>
   </div>
                                

                                <div class="col-12">
                                    <div>
                                
                                        <button type='submit' class="btn btn btn-success px-4 col-2" style="float:right"> {{'save'|trans}} </button>
                                        <a class="btn btn btn-primary px-4 col-2" style="float:left" href="{{ path('receptions') }}"> {{'back'|trans}} </a>
                                    
                                    </div>
                                </div>
                                {{ form_row(form._token) }}

                            </div>
                        </div>     
                    </div>
                {{ form_end(form , {'render_rest': false}) }}    
            </div>
        </div>
    </div>
</div>


{% endblock %} 


{% block javascripts %}
      <script src="{{ asset('uploads/js/jquery-3.6.0.min.js') }}"></script>	    	
      <script src="{{ asset('uploads/js/moment-with-locales.min.js')}}"></script>
<script src="{{ asset('uploads/js/bootstrap-material-datetimepicker.min.js')}}"></script>
<script>
        $(document).ready(function() {
          $('.js-dateReception').bootstrapMaterialDatePicker({ time: false, lang: 'fr-FR'});
           });
        document
  .querySelectorAll('.add_item_link')
  .forEach(btn => {
      btn.addEventListener("click", addFormToCollection)
  });
      </script>

{{ encore_entry_script_tags('lignereception') }}

    {{parent()}}  
     
{% endblock %} 


     
     
     
     
     
     
     
     
     
     
     
		              