{% extends 'template.html.twig' %}
    {% block title %}Emploi du temps!{% endblock %}

    {% block body %}

            <!--end breadcrumb-->

              <div class="row">
                 <div class="col-lg-12 mx-auto">
                 {% include "flaches.html.twig" %}
                  <div class="card">
                    <div class="card-header py-3"> 
                        <div class="row g-3 align-items-center">
                            <div class="col-12 col-lg-4 col-md-4">
                                <label class="form-label">Groupe:</label>
                                <select class="form-control form-select" id="groupe" name="emploi[groupe]"  multiple>
                                        
                                    {% for groupe in groupes %}
                                        <option value="{{groupe.codeE}}">{{groupe.nom}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                                
                            <div class="col-12 col-lg-4 col-md-4">
                                <label class="form-label">Profs:</label>
                                <select id="prof" class="form-select" name="emploi[prof]" multiple>
                                    {% for prof in profs %}
                                        <option value="{{prof.codeE}}">{{prof.nom}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-12 col-lg-4  col-md-4">
                                <label class="form-label">Salles:</label>
                                <select id="salle" class="form-select" name="emploi[salle]" multiple>
                                    {% for salle in salles %}
                                        <option value="{{salle.codeE}}">{{salle.nom}}</option>
                                    {% endfor %}
                                </select>  
                            </div>  
                        </div>
                        <hr>
                        <div class="row g-3 align-items-center">
                            <div class="col-12 col-lg-4 col-md-4">
                                <label class="form-label">Année</label>
                                <input type="text" value="{{annee}}" class="form-control" id="annee" placeholder="Size" name="emploi[annee]"> 
                                <input type="hidden"> &nbsp;&nbsp;</input>
                            </div>
                            <div class="col-12 col-lg-4 col-md-4">
                                <label class="form-label">Semaine</label>
                                <input type="text" value="{{weck}}" class="form-control" id="semaine" placeholder="Color" name="emploi[semaine]">
                                <button style="border: 0;background: none;box-shadow: none;border-radius: 0px;float:left"  class="emploiimage col-4" value="minus">  <img alt="" src="uploads/img/fleche_gauche.png" class="rounded float-start" style="border:none;vertical-align:middle;" height="18"></button>
                                <button style="border: 0;background: none;box-shadow: none;border-radius: 0px;"  class="emploiimage col-4 text-center" value="act">actuelle</button>
                                <button style="border: 0;background: none;box-shadow: none;border-radius: 0px;float:right"  class="emploiimage col-4" value="add">  <img alt="" src="uploads/img/fleche_droite.png" class="rounded float-end" style="border:none;vertical-align:middle;" height="18"></button>    

                            </div> 
                            <div class="col-12 col-lg-4 col-6 col-md-4">
                                <button  class="btn btn-block btn-primary radius-30 emploiimage" value="valider" style="float:right" >Valider</button>  
                            </div>
                        </div>
                    </div>

                        
                    <div class="card-body">
                       <div class="row g-3">
                         
                         <div class="col-12 col-lg-12">
                            <div class="card shadow-none bg-light border">
                              <div class="card-body row g-2">

                                <div class="table-responsive">
                                    <div class="h-100 d-flex align-items-center div_imagetranscrits" style="padding-left:3%" >
                                        <img src="uploads/img/planning.png" id="image">
                                    </div>
                                </div>
                              </div>
                              
                            </div>
                         </div>
                       </div><!--end row-->

                     </div>
                    </div>
                 </div>
              </div><!--end row-->
    
    {% endblock %}  
    {% block javascripts %}
        {{parent()}}
        {{ encore_entry_script_tags('emploi') }}

    {% endblock %}