
{% extends 'template.html.twig' %}

{% block title %}{{'entreprises'|trans}}{% endblock %}

{% block body %}

				<!--breadcrumb-->
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">Entreprises</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">{{'entreprises'|trans}}</li>
							</ol>
						</nav>
					</div>
				
				</div>
				<hr/>
				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
							<table id="example" class="table table-striped table-bordered" >
                                <thead>
                                    <tr>
                                        <th style="text-align:center !important ;">{{'n'|trans}}</th>
                                        <th style="text-align:center !important ;">{{'intitule'|trans}}</th>
                                        <th style="text-align:center !important ;">{{'secteur'|trans}}</th>
                                        <th style="text-align:center !important ;">{{'per_contact'|trans}}</th>
                                        <th style="text-align:center !important ;">{{'tel'|trans}}</th>
                                        <th style="text-align:center !important ;">{{'adresse'|trans}}</th>
                                        <th style="text-align:center !important ;">{{'ville'|trans}}</th>
                                        <th style="text-align:center !important ;">{{'convention'|trans}}</th>
                                        <th style="text-align:center !important ;">{{'fichier'|trans}}</th>
                                        <th style="text-align:center !important ;">{{'op'|trans}}</th>
                                    </tr>
                                </thead>
								<tbody>
								   {% for entreprise in entreprises %}
                                    <tr>
                                        <td>{{ entreprise.id }}</td>
                                        <td>{{ entreprise.intitule }}</td>
                                        <td>{{ entreprise.secteur }}</td>
                                        <td>{{ entreprise.perContact }}</td>
                                        <td>{{ entreprise.telephone }}</td>
                                        <td>{{ entreprise.adresse }}</td>
                                        <td>{{ entreprise.ville }}</td>
                                        <td>{{ entreprise.convention ? 'OUI' : 'NON' }}</td>
                                        <td>{{ entreprise.fichier }}</td>
                                        <td> 
                                            <div class="table-actions d-flex align-items-center gap-3 fs-6">
                                                <a href="{{ path('app_entreprise_edit', {'id': entreprise.id}) }}" class="text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" aria-label="Edit"><i class="bi bi-pencil-fill"></i></a>
                                                    <a href="{{ path('app_entreprise_delete', {'id': entreprise.id ,'_token':csrf_token('delete' ~ entreprise.id) }) }}" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" aria-label="Delete" onclick=" function delete_msg_trans()
                                                        {
                                                            langue = document.getElementById('langue').value  ;
                                                            
                                                            msg = 'Are yous sure to delete this item ?';
                                                        if(langue=='fr-FR'){
                                                        msg = 'Êtes-vous sûr de vouloir supprimer cet enregistrement ?'
                                                            }
                                                        if(langue=='en-GB'){
                                                        msg = 'Are yous sure to delete this item ?'
                                                                }
                                                        if(langue=='ar-AR'){
                                                        msg = '? هل أنت متأكد أنك تريد حذف هذا السجل '
                                                                    }
                                                        if(langue=='es-ES'){
                                                        msg = '¿Está seguro de que desea eliminar este registro?'
                                                                        }
                                                        return msg ;
                                                        }
                                                        a = delete_msg_trans() ; return confirm(a)"><i class="bi bi-trash-fill"></i>
                                                    </a>
                                            </div>
                        
                                        </td>
                                    </tr>
                                    {% endfor %}
								</tbody>
							
							</table>
						</div>
					</div>
				</div>


 
                <a class="btn btn btn-primary px-4" href="{{ path('app_entreprise_new') }}"> {{'nv_entrprise'|trans}} + </a>


{% endblock %}

