Bonjour  . Mme/Mr {{ choix.user.nom }} {{ choix.user.prenom }},<br/><br/>
Votre dernier choix est:<br/><br/>
Choix N° 1: {{choix.choix1}} <br/>
Choix N° 2: {{choix.choix2}} <br/>
Choix N° 3: {{choix.choix3}} <br/>
Choix N° 4: {{choix.choix4}} <br/>
Choix N° 5: {{choix.choix5}} <br/>
Choix N° 6: {{choix.choix6}} <br/>

</br>
<strong><a href="http://app-ensat.uae.ac.ma/e-doc/public"> la plateforme d'orientation</a> est fermée le 10 juillet 2024 à 18h00.</strong>";

cordialement;
