                    
                       

                        <div class="form-group col-sm-12">
                          <label for="intitule" class="control-label">    {{'intitule'|trans}}</label>

                          <div>
                            {{ form_widget(form.intitule,{'attr': {'class':'form-control form_article'}}) }}
                          </div>
                        </div>

             

                        <div class="form-group col-sm-6">
                          <label for="type" class="control-label">    {{'type'|trans}}</label>
                          <div>
                            {{ form_widget(form.type,{'attr': {'class':'form-control form_article'}}) }}
                          </div>
                        </div>

                        

                        <div class="form-group col-sm-6">
                          <label for="personne" class="control-label">    {{'personnel'|trans}}</label>
                          <div>
                            {{ form_widget(form.personne,{'attr': {'placeholder': 'personne','class':'form-control form_article'}}) }}
                          </div>
                        </div>

                        <div class="form-group col-sm-6">
                          <label for="type" class="control-label">    {{'articlePE'|trans}} </label>
                          <div   id="path-to-a-active"  data-href="{{ path('articlePE_paragraphe', {ac:'1111'})}}">
                            {{ form_widget(form.articlePE,{'attr': {'placeholder': 'Type','class':'form-select form_article'}}) }}
                          </div>
                        </div>


                  <div class="form-group col-sm-6">
                          <label for="paragraphes" class="control-label"> {{'paragraphes'|trans}} </label>
                          <div>
                            {{ form_widget(form.paragraphe,{'attr': {'class':'form-select form_article'}}) }}
                          </div>
                   </div>



                   

                     {% if entity.lien1  %}
                   <div class="form-group col-sm-6">
                          <label for="lien1" class="control-label"> {{'note_presentation'|trans}} - <span style="color:green; font-weight:bold;"> {{'fichier_up_can_change'|trans}}</span>   </label>
                          <div>
                            {{ form_widget(form.lien1,{'attr': {'class':'form-control form_article '} , 'required' : false}) }}
                          </div>
                   </div>
{% else %}

      <div class="form-group col-sm-6">
                          <label for="lien1" class="control-label"> {{'note_presentation'|trans}} - <span style="color:red; font-weight:bold;"> {{'fichier_not_up'|trans}} </span>  </label>
                          <div>
                            {{ form_widget(form.lien1,{'attr': {'class':'form-control form_article '}  , 'required' : true}) }}
                          </div>
                   </div>

 {% endif %}


 {% if entity.lien2  %}

   <div class="form-group col-sm-6 ">
                          <label for="lien2" class="control-label"> {{'acreditation'|trans}} - <span style="color:green; font-weight:bold;"> {{'fichier_up_can_change'|trans}}</span>  </label>
                          <div>
                            {{ form_widget(form.lien2,{'attr': {'class':'form-control form_article'}  , 'required' : false}) }}
                          </div>
                   </div>
                        
{% else %}

   <div class="form-group col-sm-6 ">
                          <label for="lien2" class="control-label"> {{'acreditation'|trans}} - <span style="color:red; font-weight:bold;"> {{'fichier_not_up'|trans}} </span> </label>
                          <div>
                            {{ form_widget(form.lien2,{'attr': {'class':'form-control form_article '}  , 'required' : true}) }}
                          </div>
                   </div>
                        

 {% endif %}
                       
                        
                      
                    
                      
                    

    

