<p>Bonjour Mr/Mme {{ om.personnel.nom }} {{ om.personnel.prenom }}</p>

<p>Votre demande d'ordre de mission N° {{ om.id }} a été {{ om.statut  == "1" ? 'Validé' : 'Refusé' }}</p>
<p>Commentaire : {{ om.motif }}  </p>

<p>Cordialement</p>

<a href="https://app-ensat.uae.ac.ma/e-ensat/public/login">Accéder à la platforme E-ENSAT (Cliquer içi)</a>
