<p>Bonjour Mr/Mme {{ destinataire.nom }} {{ destinataire.prenom }}</p>

<p> Vous avez un traitement de demande d'ordre de mission de la part de Mr/Mme {{ om.personnel.nom }} {{ om.personnel.prenom }} demandé le {{ om.dateEnvoie|date('Y-m-d à H:i')}}  </p>

<p>Cordialement</p>
