<p>Bonjour Mr/Mme {{ autorisation.personnel.nom }} {{ autorisation.personnel.prenom }}</p>

<p>Votre demande d'autorisation N° {{ autorisation.id }} a été {{ autorisation.statut  == "1" ? 'Validé' : 'Refusé' }}</p>
<p>Commentaire : {{ autorisation.motifRefu }}  </p>

<p>Cordialement</p>

<a href="https://app-ensat.uae.ac.ma/e-ensat/public/login">Accéder à la platforme E-ENSAT (Cliquer içi)</a>
