
{% extends 'template.html.twig' %}

{% block title %}{{'abs'|trans}}{% endblock %}
{% block stylesheets %}
        {{ parent() }}
        <link href="{{ asset('uploads/css/bootstrap-material-datetimepicker1.min.css') }}" rel="stylesheet" >
{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                <div class="breadcrumb-title pe-3">{{'abs'|trans}}</div>
                <div class="ps-3">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item"><a href="javascript:;"><i class="bi bi-arrows-move"></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{{'emp_exp'|trans}}</li>
                  </ol>
                </nav>
              </div>
         
            </div>
            <!--end breadcrumb-->

            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <div class="row g-3">
                                {% if (is_granted("ROLE_MANAGER") == true)%}
                                    <div class="col-12 col-lg-6">
                                {% else %}
                                    <div class="col-12">
                                {% endif %}
                                    <div class="card shadow-none bg-light border">
                                        <div class="card-body">
                                            <div class="card-header py-2 bg-transparent">
                                                <h6 class="mb-0"> {{'exporter'|trans}} </h6> 
                                            </div> 
                                            <div class="row g-3">
                                                <br>
                                                <form name="importFiche" method="post" action="{{path('exporterListeEtudiant')}}" enctype="multipart/form-data">
                                                    <div><br>
                                                        <label for="codeEtape" class="control-label"> {{'code_etape'|trans}} </label>
                                                        <select class="form-control" id="codeEtape" name="importFiche[codeEtape]" >
                                                            <option value="Tous">{{'tous'|trans}}</option>
                                                            {% for etape in etapes %}
                                                            <option value="{{etape.COD_ETP}}">{{etape.COD_ETP}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div><br>

                                                    <button type="submit" class="btn  btn-danger btn-block col-12"> {{'exp_liste_etud_par_module'|trans}}   </button>
                                                </form>

                                                <div class="card-header py-2 bg-transparent">
                                                    <h6 class="mb-0">  {{'exporter_stats'|trans}} </h6> 
                                                </div> 
                                                <a class="btn btn-primary px-4" style=" position:relative "  href="{{path('telechargerAbsence')}}" >{{'exporter_liste_abs'|trans}} </a>
                                            </div>
                                        </div>
                                    </div>  
                                </div>
                                {% if (is_granted("ROLE_MANAGER") == true)%}
                                <div class="col-12 col-lg-6">              
                                    <div class="card shadow-none bg-light border">
                                        <div class="card-body">
                                            <div class="card-header py-2 bg-transparent">
                                                <h6 class="mb-0"> {{'imp_ceritif_med'|trans}}  :</h6>
                                            </div>
                                            {{ form_start(form, {'method': 'POST' ,'attr' : {'enctype' : 'multipart/form-data'}}) }}
                                                <div class="row g-3">
                                                    <div class="form-group col-sm-12">
                                                        <label for="codeApogee" class="control-label"> {{'num_apogee'|trans}}</label>
                                                        <div>
                                                            {{ form_widget(form.codeapgeedebut,{'attr': {'placeholder': 'code Apogée','class':'form-control'}}) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-sm-12">
                                                        <label for="dateDebut" class="control-label"> {{'date_debut'|trans}}</label>
                                                        <div>
                                                            {{ form_widget(form.datedebut,{'attr': {'placeholder': 'Date de début du certificat','class':' js-dateDebut form-control'}}) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-sm-12">
                                                        <label for="dateFin" class="control-label"> {{'date_fin'|trans}}</label>
                                                        <div>
                                                            {{ form_widget(form.datefin,{'attr': {'placeholder': 'Date de fin du certificat','class':' js-dateFin form-control'}}) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-sm-12">
                                                        <label for="fichier" class="control-label">{{'ch_fichier'|trans}} </label>

                                                        <div>
                                                            {{ form_widget(form.fichier,{'attr': {'placeholder': 'Fichier à joindre','class':'form-control'}}) }}
                                                        </div>
                                                    </div>
                                                </div><br>
                                                <button type="submit" class="btn  btn-success pull-right col-12">{{'envoyer'|trans}}  </button>           
                                            {{ form_rest(form) }}
                                            {{ form_end(form) }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            </div><!--end row-->
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}      
{% block javascripts %}
       
      {{parent()}}
  
      <script src="{{ asset('uploads/js/jquery-3.6.0.min.js') }}"></script>	    	
      <script src="{{ asset('uploads/js/moment-with-locales.min.js')}}"></script>
      <script src="{{ asset('uploads/js/bootstrap-material-datetimepicker.min.js')}}"></script>
      <script>
        $(document).ready(function() {
          $('.js-dateDebut').bootstrapMaterialDatePicker({ time: false, lang: 'fr-FR',format: 'YYYY-MM-DD',switchOnClick:true});
          $('.js-dateFin').bootstrapMaterialDatePicker({ time: false, lang: 'fr-FR',format: 'YYYY-MM-DD',switchOnClick:true});
        });
        
      </script>
      
  
{% endblock %} 