
{% extends 'template.html.twig' %}

{% block title %}{{'liste_etudiants_fc'|trans}} {% endblock %}

{% block body %}

				<!--breadcrumb-->

                <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                        <div class="breadcrumb-title pe-3">{{'finance'|trans}}</div>
                        <div class="ps-3">
                            <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0 p-0">
                                <li class="breadcrumb-item"><a href="javascript:;"><i class="bi bi-cash-coin"></i></a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page"> {{'liste_etudiants_fc'|trans}}</li>
                            </ol>
                            </nav>
                        </div>
         
                </div>
                <hr>

                <div class="card border-top border-success border-0 border-3">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table id="exe1" class="table table-striped table-bordered dataTable" style="text-align:center !important ;" >
                        <thead>
                          <tr>
                                <th style="text-align:center !important ;">{{'code_apogee'|trans}}</th>
                                <th style="text-align:center !important ;">{{'nom'|trans}}</th>
                                <th style="text-align:center !important ;">{{'prenom'|trans}}</th>
                                <th style="text-align:center !important ;">{{'date_naiss'|trans}}</th>
                                <th style="text-align:center !important ;">{{'cin'|trans}}</th>
                                <th style="text-align:center !important ;">{{'cne'|trans}}</th>
                                <th style="text-align:center !important ;">{{'diplome'|trans}}</th>
                                <th style="text-align:center !important ;">{{'annee_univ'|trans}}</th>
                                <th style="text-align:center !important ;">{{'op'|trans}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                <tr>
                                    <td >{{user['COD_ETU']}}</td>
                                    <td>{{user['nom']}}</td>
                                    <td>{{user['prenom']}}</td>
                                    <td>{{user['dateNaissance']}}</td>
                                    <td>{{user['cin']}}</td>
                                    <td>{{user['cne']}}</td>
                                    <td>{{user['dip']}}</td> 
                                    <td style="font-weight:bold ; color: green ;">{{user['annee']}} / {{user['annee']+1}}</td>
                                    <td>
                                        <div class="text-center">
                            {% if '2' not in user['etape'] %}
                                            <a class="text-primary icons" data-toggle="tooltip" data-placement="top" title="ajouter" href="{{ path('addPaiement', { 'id': user['COD_ETU'] ,'annee_univ':user['annee'] , 'cod_dip' : user['dip'] }) }}"><span class="bi bi-credit-card-fill"></span></a>&nbsp;&nbsp;
                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>

							
					</table>
					</div>
                    <a class="btn btn btn-primary px-4" href="{{ path('addPaiementNonExist') }}"> {{'nv_paiement_nonexist'|trans}} + </a>
					</div>
				</div>
  
{% endblock %}
{% block javascripts %}
    {{parent()}}
	
    {{ encore_entry_script_tags('scolarite') }}
        


{% endblock %}

