{% extends 'base.html.twig' %}

{% block title %}Engagement{% endblock %}

{% block body %}
    <h1>Engagement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ engagement.id }}</td>
            </tr>
            <tr>
                <th>TypeEngagement</th>
                <td>{{ engagement.typeEngagement }}</td>
            </tr>
            <tr>
                <th>Matiere</th>
                <td>{{ engagement.matiere }}</td>
            </tr>
            <tr>
                <th>DateFait</th>
                <td>{{ engagement.dateFait ? engagement.dateFait|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_engagement_index') }}">back to list</a>

    <a href="{{ path('app_engagement_edit', {'id': engagement.id}) }}">edit</a>

    {{ include('engagement/_delete_form.html.twig') }}
{% endblock %}
