{% extends 'base.html.twig' %}

{% block title %}Corps index{% endblock %}

{% block body %}
    <h1>Corps index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DesignationFR</th>
                <th>DesignationAR</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for corps in corps %}
            <tr>
                <td>{{ corps.id }}</td>
                <td>{{ corps.designationFR }}</td>
                <td>{{ corps.designationAR }}</td>
                <td>
                    <a href="{{ path('app_corps_show', {'id': corps.id}) }}">show</a>
                    <a href="{{ path('app_corps_edit', {'id': corps.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_corps_new') }}">Create new</a>
{% endblock %}
