<!DOCTYPE html><!--[if IE]>  <html class="stl_ie"> <![endif]-->
<html>
	<head>
		<meta charset="utf-8" />
		<title>
		</title>
		
	<STYLE>
{# .stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
} #}
{# .stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
} #}

{# .stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; } #}

.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 49.58333em;
	height: 70.16666em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	pointer-events: none;
	clip: rect(-0.0625em,49.66667em,70.20834em,-0.041667em);
	width: 100%;
}
.stl_05 {
	position: relative;
	width: 49.58333em;
}
.stl_06 {
	height: 7.016666em;
}
.stl_ie .stl_06 {
	height: 70.16666em;
}

.stl_07 {
	font-size: 2em;
	font-family: "Arial";
	color: #1E232B;
}
.stl_08 {
	line-height: 1.174em;
}
.stl_09 {
	letter-spacing: 0em;
}

.stl_ie .stl_09 {
	letter-spacing: 0px;
}
.stl_10 {
	font-size: 1.16625em;
	font-family: "Arial";
	color: #1E232B;
}
.stl_11 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_11 {
	letter-spacing: -0.0024px;
}
.stl_12 {
	font-size: 0.85em;
	font-family: "Arial";
	color: #1E232B;
	font-weight : bolder;
}
.stl_13 {
	font-size: 0.75em;
	font-family: "Arial";
	color: #000000;
}

.stl_14 {
	font-size: 0.75em;
	font-family: "Times New Roman";
	color: #1E232B;
}
.stl_15 {
	line-height: 1.379em;
}
.stl_16 {
	font-size: 1em;
	font-family: "Arial";
	color: #1E232B;
}
.stl_17 {
	font-size: 0.733224em;
	font-family: "Arial";
	color: #1E232B;
	font-weight : bolder;
}
.stl_18 {
	font-size: 0.683224em;
	font-family: "Arial";
	color: #000000;
}

.stl_19 {
	font-size: 1.16625em;
	font-family: "Arial";
	color: #1E232B;
}
.stl_20 {
	font-size: 0.75em;
	font-family: "Arial";
	color: #1E232B;
	font-weight : bolder;
}
.stl_21 {
	font-size: 0.75em;
	font-family: "Arial";
	color: #000000;
}
.stl_22 {
	font-size: 0.683125em;
	font-family: "Arial";
	color: #000000;
}
.stl_23 {
	letter-spacing: -0.0004em;
}

.stl_ie .stl_23 {
	letter-spacing: -0.0042px;
}

</STYLE>
</head>
	<body>
	  <img style="float:right;border-radius: 50%;" id='file' src="{{'https://app-ensat.uae.ac.ma/e-doc/public/uploads/img/' ~ image }}" class="rounded-circle shadow" width="200" height="200" alt=""> 
		<div id="page_0" class="stl_ stl_02">
			<div class="stl_03">
				
    {% set top_start = 4.4419 %}
	{% set top = 0 %}

    {% set small_separator = 2.0000 %}
	{% set medium_separator = 4.0000 %}
	{% set big_separator = 6.0000 %}

    {% set top = top_start %}

			</div>
			<div class="stl_view">
				<div class="stl_05 stl_06">
					<div class="stl_01" style="left:5.3189em;top:0.9876em;"><span class="stl_07 stl_08 stl_09">Curriculum Vitæ </span></div>
		
					<div class="stl_01" style="left:3.1742em;top:{{top}}em;"><span class="stl_10 stl_08 stl_11" style="word-spacing:0.0001em;">INFORMATIONS PERSONNELLES </span></div>
					        {% set top = top + medium_separator %}
							
					<div class="stl_01" style="left:2.4929em;top:{{top}}em;"><span class="stl_12 stl_08 stl_09" style="word-spacing:-0em;">Nom complet : </span></div>
					<div class="stl_01" style="left:12.4929em;top:{{top}}em;"><span class="stl_13 stl_08 stl_09" style="word-spacing:-0em;"> {{cv.idUser.nom}}  {{cv.idUser.prenom}}  </span></div>

                            {% set top = top + small_separator %}

								{% if cv.mobile is not empty %}
					<div class="stl_01" style="left:2.4929em;top:{{top}}em;"><span class="stl_12 stl_08 stl_09" style="word-spacing:-0em;">Numéro de téléphone : </span></div>
					<div class="stl_01" style="left:12.4929em;top:{{top}}em;"><span class="stl_13 stl_08 stl_09" style="word-spacing:-0em;">{{cv.mobile}}</span></div>
					  {% set top = top + small_separator %}
								{% endif  %}

					      
					{# <div class="stl_01" style="left:2.4929em;top:10.4073em;"><span class="stl_12 stl_08 stl_09" style="word-spacing:-0em;">Photo de profil : </span></div> #}
					{# <div class="stl_01" style="left:11.9039em;top:10.4904em;"><span class="stl_13 stl_08 stl_09" style="word-spacing:-0em;">[Champ téléchargement d'image] </span></div> #}
{# 					<div class="stl_01" style="left:20.1537em;top:{{top}}em;"><span class="stl_14 stl_15 stl_09">/</span></div>
					<div class="stl_01" style="left:15.4438em;top:{{top}}em;"><span class="stl_14 stl_15 stl_09">/</span></div> #}

					<div class="stl_01" style="left:2.4929em;top:{{top}}em;"><span class="stl_12 stl_08 stl_09" style="word-spacing:-0em;">Date de naissance :  </span></div>
					<div class="stl_01" style="left:12.4929em;top:{{top}}em;"><span class="stl_13 stl_08 stl_09" style="word-spacing:-0em;">{{etudiant.DATE_NAI_IND}}  </span></div>

					        {% set top = top + small_separator %}

			{% if cv.emailPerso is not empty %}
			<div class="stl_01" style="left:2.4929em;top:{{top}}em;"><span class="stl_12 stl_08 stl_09" style="word-spacing:-0em;">Email : </span></div>
			<div class="stl_01" style="left:12.4929em;top:{{top}}em;"><span class="stl_13 stl_08 stl_09" style="word-spacing:-0em;">{{cv.emailPerso}}</span></div>

			{% set top = top + small_separator %}
									{% endif  %}
		
					

	{% if cv.adressePostale is not empty %}
					<div class="stl_01" style="left:2.4929em;top:{{top}}em;"><span class="stl_12 stl_08 stl_09" style="word-spacing:-0em;">Adresse : </span></div>
					<div class="stl_01" style="left:12.4929em;top:{{top}}em;"><span class="stl_13 stl_08 stl_09" style="word-spacing:-0em;"> {{cv.adressePostale}}</span></div>
					{% set top = top + small_separator %}
	{% endif  %}
					  
	{# 				<div class="stl_01" style="left:11.8779em;top:16.8088em;"><span class="stl_13 stl_08 stl_09" style="word-spacing:-0em;">[Champ URL] </span></div> #}

	{% if cv.linkedin is not empty %}
					<div class="stl_01" style="left:2.5696em;top:{{top}}em;"><span class="stl_12 stl_08 stl_09" style="word-spacing:-0em;">LinkedIn :  </span></div>
					<div class="stl_01" style="left:12.4929em;top:{{top}}em;"><span class="stl_13 stl_08 stl_09" style="word-spacing:-0em;">{{cv.linkedin}}</span></div>

					  {% set top = top + small_separator %}
	{% endif  %}

{% if cv.permis is not empty and cv.permis!="NO" %}
<div class="stl_01" style="left:2.5696em;top:{{top}}em;"><span class="stl_12 stl_08 stl_09" style="word-spacing:-0em;">Permis : </span></div>
<div class="stl_01" style="left:12.4929em;top:{{top}}em;"><span class="stl_13 stl_08 stl_09" style="word-spacing:-0em;">{{cv.permis}} </span></div>
{% endif  %}
					

  {% set top = top + big_separator %}
					

 {% if cv.formations is not empty %}

     <div class="stl_01" style="left:2.8656em;top:{{top}}em;"><span class="stl_10 stl_08 stl_11" style="word-spacing:0.0001em;">FORMATION ACADÉMIQUE </span></div>
	       {% set top = top + medium_separator %}

    {% for f in cv.formations %}

                {% if f.annee is not empty  %}
	                <div class="stl_01" style="left:2.1843em;top:{{top}}em;"><span class="stl_12 stl_08 stl_09" style="word-spacing:-0em;">Année d'admission : </span></div>
					<div class="stl_01" style="left:11.5952em;top:{{top}}em;"><span class="stl_13 stl_08 stl_09" style="word-spacing:-0em;">{{f.annee }}</span></div>
					{% set top = top + small_separator %}
 				 {% endif  %}

               {% if f.filiere is not empty  %}
					<div class="stl_01" style="left:2.1843em;top:{{top}}em;"><span class="stl_12 stl_08 stl_09" style="word-spacing:0em;">Filière : </span></div>
					<div class="stl_01" style="left:11.5952em;top:{{top}}em;"><span class="stl_13 stl_08 stl_09" style="word-spacing:-0em;">{{f.filiere}} </span></div>
                    {% set top = top + small_separator %}
	           {% endif  %}

				{% if f.specialite is not empty  %}
				    <div class="stl_01" style="left:2.1843em;top:{{top}}em;"><span class="stl_12 stl_08 stl_09" style="word-spacing:-0em;">Spécialité : </span></div>
					<div class="stl_01" style="left:11.5952em;top:{{top}}em;"><span class="stl_13 stl_08 stl_09" style="word-spacing:-0em;">{{f.specialite }}</span></div>
                    {% set top = top + small_separator %}
				{% endif  %}

				{% if f.diplome is not empty  %}
	                <div class="stl_01" style="left:2.1658em;top:{{top}}em;"><span class="stl_12 stl_08 stl_09" style="word-spacing:-0em;">Diplôme actuel : </span></div>
	            	<div class="stl_01" style="left:11.5952em;top:{{top}}em;"><span class="stl_13 stl_08 stl_09" style="word-spacing:0em;">{{f.diplome}} </span></div>
				{% endif  %}


                    {% set top = top + big_separator %}

		{# 			<div class="stl_01" style="left:25.6144em;top:25.5196em;"><span class="stl_12 stl_08 stl_09" style="word-spacing:-0em;">Année d'admission : </span></div>
					<div class="stl_01" style="left:35.0253em;top:27.7378em;"><span class="stl_13 stl_08 stl_09" style="word-spacing:-0em;">[Champ sélection] </span></div>
	                <div class="stl_01" style="left:25.6144em;top:27.6907em;"><span class="stl_12 stl_08 stl_09" style="word-spacing:0em;">Filière :  </span></div>
					<div class="stl_01" style="left:35.0253em;top:25.7515em;"><span class="stl_13 stl_08 stl_09" style="word-spacing:-0em;">[Champ sélection] </span></div>
				    <div class="stl_01" style="left:35.0253em;top:32.1761em;"><span class="stl_13 stl_08 stl_09" style="word-spacing:-0em;">[Champ texte] </span></div>
					<div class="stl_01" style="left:25.6144em;top:30.0591em;"><span class="stl_12 stl_08 stl_09" style="word-spacing:-0em;">Spécialité : </span></div>
					<div class="stl_01" style="left:35.0253em;top:30.0572em;"><span class="stl_13 stl_08 stl_09" style="word-spacing:-0em;">[Champ texte ou sélection] </span></div>
					<div class="stl_01" style="left:25.596em;top:32.1761em;"><span class="stl_12 stl_08 stl_09" style="word-spacing:-0em;">Diplôme précédent : </span></div> #}




    {% endfor  %}

 {% endif  %}





 {% if cv.experiences is not empty %}

     <div class="stl_01" style="left:2.8656em;top:{{top}}em;"><span class="stl_10 stl_08 stl_11" style="word-spacing:0.0001em;">EXPÉRIENCES PROFESSIONNELLES </span></div>
    {% set top = top + medium_separator %}

    {% for e in cv.experiences %}

					<div class="stl_01" style="left:2.1658em;top:{{top}}em;"><span class="stl_16 stl_08 stl_09" style="word-spacing:-0em;">Expérience N° {{loop.index}} </span></div>
       {% set top = top + small_separator %}

	   	{% if e.intituleposte is not empty  %}
	                <div class="stl_01" style="left:2.149em;top:{{top}}em;"><span class="stl_17 stl_08 stl_09" style="word-spacing:-0em;">Intitulé du poste : </span></div>
                	<div class="stl_01" style="left:11.7344em;top:{{top}}em;"><span class="stl_18 stl_08 stl_09" style="word-spacing:-0em;">{{e.intituleposte }} </span></div>
       {% set top = top + small_separator %}
	   	{% endif   %}

  	{% if e.entreprise is not empty  %}
	     <div class="stl_01" style="left:2.149em;top:{{top}}em;"><span class="stl_17 stl_08 stl_09" style="word-spacing:-0em;">Entreprise/Organisation : </span></div>
                	<div class="stl_01" style="left:11.7344em;top:{{top}}em;"><span class="stl_18 stl_08 stl_09" style="word-spacing:-0em;">{{e.entreprise }} </span></div>
       {% set top = top + small_separator %}
	{% endif   %}

	  	{% if e.dateDebut is not empty or e.dateFin is not empty   %}
	        <div class="stl_01" style="left:2.149em;top:{{top}}em;"><span class="stl_17 stl_08 stl_09" style="word-spacing:-0em;">Durée : </span></div>
            <div class="stl_01" style="left:11.7344em;top:{{top}}em;"><span class="stl_18 stl_08 stl_09" style="word-spacing:-0em;">De {{e.dateDebut|date('Y-m-d') }} à {{e.dateFin|date('Y-m-d') }} </span></div>
       {% set top = top + small_separator %}
	{% endif   %}

  	{% if e.lieu is not empty  %}
	     <div class="stl_01" style="left:2.149em;top:{{top}}em;"><span class="stl_17 stl_08 stl_09" style="word-spacing:-0em;">Lieu : </span></div>
        <div class="stl_01" style="left:11.7344em;top:{{top}}em;"><span class="stl_18 stl_08 stl_09" style="word-spacing:-0em;">{{e.lieu }} </span></div>
       {% set top = top + small_separator %}
	{% endif   %}

 	{% if e.descriptionmission is not empty  %}
     <div class="stl_01" style="left:2.149em;top:{{top}}em;"><span class="stl_17 stl_08 stl_09" style="word-spacing:-0em;">Description des missions : </span></div>
    <div class="stl_01" style="left:11.7344em;top:{{top}}em;"><span class="stl_18 stl_08 stl_09" style="word-spacing:-0em;">{{e.descriptionmission }}</span></div>
       {% set top = top + small_separator %}
{% endif   %}

	{% if e.lienportfolio is not empty  %}
     <div class="stl_01" style="left:2.149em;top:{{top}}em;"><span class="stl_17 stl_08 stl_09" style="word-spacing:-0em;">Lien vers Portfolio : </span></div>
                	<div class="stl_01" style="left:11.7344em;top:{{top}}em;"><span class="stl_18 stl_08 stl_09" style="word-spacing:-0em;">{{e.lienportfolio }} </span></div>
       {% set top = top + small_separator %}
{% endif   %}



			    {# 	<div class="stl_01" style="left:2.1826em;top:{{top}}em;"><span class="stl_17 stl_08 stl_09" style="word-spacing:-0em;">Entreprise/Organisation :</span></div>
                    <div class="stl_01" style="left:11.7344em;top:{{top}}em;"><span class="stl_18 stl_08 stl_09" style="word-spacing:-0em;">{{e.entreprise }} </span></div> 
       {% set top = top + small_separator %}
	                <div class="stl_01" style="left:2.1826em;top:{{top}}em;"><span class="stl_17 stl_08 stl_09" style="word-spacing:-0em;">Durée : </span></div>
		        	<div class="stl_01" style="left:11.7344em;top:{{top}}em;"><span class="stl_18 stl_08 stl_09" style="word-spacing:-0em;">De {{e.dateDebut|date('Y-m-d') }} à {{e.dateFin|date('Y-m-d') }} </span></div>
       {% set top = top + small_separator %}
					<div class="stl_01" style="left:2.1658em;top:{{top}}em;"><span class="stl_17 stl_08 stl_09" style="word-spacing:-0em;">Lieu : </span></div>
					<div class="stl_01" style="left:11.7344em;top:{{top}}em;"><span class="stl_18 stl_08 stl_09" style="word-spacing:-0em;">{{e.lieu }}</span></div>
       {% set top = top + small_separator %}
					<div class="stl_01" style="left:2.1826em;top:{{top}}em;"><span class="stl_17 stl_08 stl_09" style="word-spacing:-0em;">Description des missions : </span></div>
					<div class="stl_01" style="left:11.7344em;top:{{top}}em;"><span class="stl_18 stl_08 stl_09" style="word-spacing:-0em;"> {{e.descriptionmission }} </span></div>
       {% set top = top + small_separator %}
					<div class="stl_01" style="left:2.149em;top:{{top}}em;"><span class="stl_17 stl_08 stl_09" style="word-spacing:-0em;">Lien vers Portfolio :  </span></div>
	            	<div class="stl_01" style="left:11.7344em;top:{{top}}em;"><span class="stl_18 stl_08 stl_09" style="word-spacing:-0em;"> {{e.lienportfolio }} </span></div> #}

       {% set top = top + big_separator %}

	 {% endfor %}

{% endif %}	

{% if cv.comp_technique is not empty or cv.langues is not empty or cv.soft_skills is not empty %}

                 <div class="stl_01" style="left:3.1742em;top:{{top}}em;"><span class="stl_19 stl_08 stl_11">COMPÉTENCES </span></div>
				   {% set top = top + medium_separator %}

{% endif %}

{% if cv.comp_technique is not empty %}
					<div class="stl_01" style="left:2.1843em;top:{{top}}em;"><span class="stl_20 stl_08 stl_09" style="word-spacing:-0em;">Compétences techniques : </span></div>
					<div class="stl_01" style="left:13.9548em;top:{{top}}em;"><span class="stl_21 stl_08 stl_09" style="word-spacing:0em;">{{cv.comp_technique}} </span></div>
                    {% set top = top + small_separator %}

 {% endif %}

{% if cv.langues is not empty %}
					<div class="stl_01" style="left:2.1843em;top:{{top}}em;"><span class="stl_20 stl_08 stl_09">Langues : </span></div>
					<div class="stl_01" style="left:12.2677em;top:{{top}}em;"><span class="stl_22 stl_08 stl_23" style="word-spacing:0.0003em;">{{cv.langues}} </span></div>
{# 					<div class="stl_01" style="left:12.2929em;top:{{top}}em;"><span class="stl_22 stl_08 stl_23" style="word-spacing:0.0003em;">[Langue 2] (niveau : [débutant/intermédiaire/avancé])</span><span class="stl_22 stl_08 stl_09" style="word-spacing:1.1386em;"></span><span class="stl_22 stl_08 stl_23" style="word-spacing:0.0003em;">[Langue 4] (niveau : [débutant/intermédiaire/avancé]) </span></div>
 #}                    {% set top = top + small_separator %}

 {% endif %}

{% if cv.soft_skills is not empty %}
					<div class="stl_01" style="left:2.1843em;top:{{top}}em;"><span class="stl_20 stl_08 stl_09" style="word-spacing:-0em;">Soft Skills : </span></div>
					<div class="stl_01" style="left:13.8313em;top:{{top}}em;"><span class="stl_21 stl_08 stl_09" style="word-spacing:0em;">{{cv.soft_skills}}</span></div>

{% endif %}


                    {% set top = top + big_separator %}

					


{% if cv.distinctions is not empty or cv.certifications is not empty %}
                   <div class="stl_01" style="left:2.8656em;top:{{top}}em;"><span class="stl_19 stl_08 stl_11" style="word-spacing:0.0001em;">CERTIFICATIONS ET ATTESTATIONS </span></div>
 					{% set top = top + medium_separator %}
{% endif %}
					{% if cv.certifications is not empty %}
                   <div class="stl_01" style="left:2.1843em;top:{{top}}em;"><span class="stl_20 stl_08 stl_09" style="word-spacing:-0em;">Certifications obtenues : </span></div>
					<div class="stl_01" style="left:11.705em;top:{{top}}em;"><span class="stl_21 stl_08 stl_09" style="word-spacing:0em;">{{cv.certifications}}</span></div>
 					{% set top = top + small_separator %}
                    {% endif %}

					{% if cv.distinctions is not empty %}
					<div class="stl_01" style="left:2.1843em;top:{{top}}em;"><span class="stl_20 stl_08 stl_09" style="word-spacing:-0em;">Prix/Distinctions : </span></div>
					<div class="stl_01" style="left:11.7847em;top:{{top}}em;"><span class="stl_21 stl_08 stl_09" style="word-spacing:-0em;">{{cv.distinctions}} </span></div>
                    {% endif %}

 					{% set top = top + big_separator %}




 {% if cv.clubs is not empty %}

		<div class="stl_01" style="left:2.8656em;top:{{top}}em;"><span class="stl_19 stl_08 stl_11" style="word-spacing:0.0001em;">ACTIVITÉS EXTRA-PROFESSIONNELLES </span></div>
 		{% set top = top + medium_separator %}

    {% for c in cv.clubs %}

  			{% if c.nomassoc is not empty  %}
	                <div class="stl_01" style="left:2.1843em;top:{{top}}em;"><span class="stl_20 stl_08 stl_09" style="word-spacing:-0em;">Nom de l'association/club : </span></div>
	                <div class="stl_01" style="left:11.9847em;top:{{top}}em;"><span class="stl_21 stl_08 stl_09" style="word-spacing:-0em;"> {{c.nomassoc}} </span></div>

 					{% set top = top + small_separator %}
  			{% endif %}

		      {% if c.posteoccupe is not empty  %}
					<div class="stl_01" style="left:2.1843em;top:{{top}}em;"><span class="stl_20 stl_08 stl_09" style="word-spacing:-0em;">Poste occupé : </span></div>
					<div class="stl_01" style="left:11.947em;top:{{top}}em;"><span class="stl_21 stl_08 stl_09" style="word-spacing:-0em;"> {{c.posteoccupe}} </span></div>
 					{% set top = top + small_separator %}
			{% endif %}
				
				  {% if c.dateDebut is not empty or c.dateFin is not empty %}
					<div class="stl_01" style="left:2.1843em;top:{{top}}em;"><span class="stl_20 stl_08 stl_09" style="word-spacing:-0em;">Durée : </span></div>
					<div class="stl_01" style="left:11.9847em;top:{{top}}em;"><span class="stl_21 stl_08 stl_09" style="word-spacing:-0em;">{{c.dateDebut|date('Y-m-d')}} à {{c.dateFin|date('Y-m-d')}}  </span></div>
					{% set top = top + small_separator %}
                {% endif %}


					{% if c.description is not empty %}
					<div class="stl_01" style="left:2.1843em;top:{{top}}em;"><span class="stl_20 stl_08 stl_09" style="word-spacing:-0em;">Description des activités :  </span></div>
					<div class="stl_01" style="left:11.9847em;top:{{top}}em;"><span class="stl_21 stl_08 stl_09" style="word-spacing:-0em;"> {{c.description}} </span></div>
                    {% endif %}

    {% endfor %}

{% endif %}




					{% set top = top + big_separator %}

					{% if cv.hobbies is not empty %}
					<div class="stl_01" style="left:2.1843em;top:{{top}}em;"><span class="stl_20 stl_08 stl_09" style="word-spacing:-0em;">Autres activités/hobbies : </span></div>
					<div class="stl_01" style="left:13.0736em;top:{{top}}em;"><span class="stl_21 stl_08 stl_09" style="word-spacing:-0em;">{{cv.hobbies}} </span></div>
	                {% endif %}




				{# 	<div class="stl_01" style="left:2.149em;top:50.6882em;"><span class="stl_17 stl_08 stl_09" style="word-spacing:-0em;">réalisation (si applicable):  </span></div> #}

		{# 			<div class="stl_01" style="left:26.6902em;top:41.9091em;"><span class="stl_17 stl_08 stl_09" style="word-spacing:-0em;">Entreprise/Organisation : 7 </span></div>
					<div class="stl_01" style="left:26.6902em;top:44.049em;"><span class="stl_17 stl_08 stl_09" style="word-spacing:-0em;">Durée : 9 </span></div>
					<div class="stl_01" style="left:36.242em;top:44.049em;"><span class="stl_18 stl_08 stl_09" style="word-spacing:-0em;">[De (mois/année) à (mois/année)] 10 </span></div>
					<div class="stl_01" style="left:26.6735em;top:46.0128em;"><span class="stl_17 stl_08 stl_09" style="word-spacing:-0em;">Lieu : 12 </span></div>
					<div class="stl_01" style="left:36.242em;top:46.0424em;"><span class="stl_18 stl_08 stl_09" style="word-spacing:-0em;">[Champ texte] 13 </span></div>
					<div class="stl_01" style="left:36.242em;top:47.8187em;"><span class="stl_18 stl_08 stl_09" style="word-spacing:-0em;">[Champ texte] 14 </span></div>
					<div class="stl_01" style="left:26.6902em;top:47.7975em;"><span class="stl_17 stl_08 stl_09" style="word-spacing:-0em;">Description des missions : 18 </span></div>
					<div class="stl_01" style="left:26.6567em;top:49.322em;"><span class="stl_17 stl_08 stl_09" style="word-spacing:-0em;">Lien vers portfolio ou 20 </span></div>
					<div class="stl_01" style="left:26.6567em;top:50.233em;"><span class="stl_17 stl_08 stl_09" style="word-spacing:-0em;">réalisation (si applicable) 21 : </span></div>
					<div class="stl_01" style="left:36.242em;top:49.7772em;"><span class="stl_18 stl_08 stl_09" style="word-spacing:-0em;">[Champ URL] 24 </span></div>
					<div class="stl_01" style="left:26.6399em;top:54.2585em;"><span class="stl_17 stl_08 stl_09" style="word-spacing:-0em;">Intitulé du poste : 26 </span></div>
					<div class="stl_01" style="left:36.2252em;top:54.2585em;"><span class="stl_18 stl_08 stl_09" style="word-spacing:-0em;">[Champ texte]  27 </span></div>
					<div class="stl_01" style="left:36.2252em;top:55.9538em;"><span class="stl_18 stl_08 stl_09" style="word-spacing:-0em;">[Champ texte] 28 </span></div>
					<div class="stl_01" style="left:2.1323em;top:54.7136em;"><span class="stl_17 stl_08 stl_09" style="word-spacing:-0em;">Intitulé du poste : 29 </span></div>
					<div class="stl_01" style="left:11.7176em;top:54.7136em;"><span class="stl_18 stl_08 stl_09" style="word-spacing:-0em;">[Champ texte] 30 </span></div>
					<div class="stl_01" style="left:11.7176em;top:56.4089em;"><span class="stl_18 stl_08 stl_09" style="word-spacing:-0em;">[Champ texte] </span></div>
					<div class="stl_01" style="left:26.6735em;top:55.9736em;"><span class="stl_17 stl_08 stl_09" style="word-spacing:-0em;">Entreprise/Organisation : </span></div>
					<div class="stl_01" style="left:2.1658em;top:56.4288em;"><span class="stl_17 stl_08 stl_09" style="word-spacing:-0em;">Entreprise/Organisation : </span></div>
					<div class="stl_01" style="left:26.6735em;top:58.1135em;"><span class="stl_17 stl_08 stl_09" style="word-spacing:-0em;">Durée : </span></div>
					<div class="stl_01" style="left:36.2252em;top:58.1135em;"><span class="stl_18 stl_08 stl_09" style="word-spacing:-0em;">[De (mois/année) à (mois/année)] </span></div>
					<div class="stl_01" style="left:2.1658em;top:58.5687em;"><span class="stl_17 stl_08 stl_09" style="word-spacing:-0em;">Durée : </span></div>
					<div class="stl_01" style="left:11.7176em;top:58.5687em;"><span class="stl_18 stl_08 stl_09" style="word-spacing:-0em;">[De (mois/année) à (mois/année)] </span></div>
					<div class="stl_01" style="left:26.6567em;top:60.0773em;"><span class="stl_17 stl_08 stl_09" style="word-spacing:-0em;">Lieu : </span></div>
					<div class="stl_01" style="left:36.2252em;top:60.1069em;"><span class="stl_18 stl_08 stl_09" style="word-spacing:-0em;">[Champ texte] </span></div>
					<div class="stl_01" style="left:36.2252em;top:61.8832em;"><span class="stl_18 stl_08 stl_09" style="word-spacing:-0em;">[Champ texte] </span></div>
					<div class="stl_01" style="left:2.149em;top:60.5325em;"><span class="stl_17 stl_08 stl_09" style="word-spacing:-0em;">Lieu : </span></div>
					<div class="stl_01" style="left:11.7176em;top:60.5621em;"><span class="stl_18 stl_08 stl_09" style="word-spacing:-0em;">[Champ texte] </span></div>
					<div class="stl_01" style="left:11.7176em;top:62.3384em;"><span class="stl_18 stl_08 stl_09" style="word-spacing:-0em;">[Champ texte] </span></div>
					<div class="stl_01" style="left:26.6735em;top:61.862em;"><span class="stl_17 stl_08 stl_09" style="word-spacing:-0em;">Description des missions : </span></div>
					<div class="stl_01" style="left:2.1658em;top:62.3172em;"><span class="stl_17 stl_08 stl_09" style="word-spacing:-0em;">Description des missions : </span></div>
					<div class="stl_01" style="left:26.6399em;top:63.3865em;"><span class="stl_17 stl_08 stl_09" style="word-spacing:0em;">Lien vers portfolio ou </span></div>
					<div class="stl_01" style="left:26.6399em;top:64.2975em;"><span class="stl_17 stl_08 stl_09" style="word-spacing:-0em;">réalisation (si applicable) : </span></div>
					<div class="stl_01" style="left:2.1323em;top:63.8417em;"><span class="stl_17 stl_08 stl_09" style="word-spacing:-0em;">Lien vers portfolio ou </span></div>
					<div class="stl_01" style="left:2.1323em;top:64.7527em;"><span class="stl_17 stl_08 stl_09" style="word-spacing:-0em;">réalisation (si applicable) : </span></div>
					<div class="stl_01" style="left:36.2252em;top:63.8417em;"><span class="stl_18 stl_08 stl_09" style="word-spacing:-0em;">[Champ URL] </span></div>
					<div class="stl_01" style="left:11.7176em;top:64.2969em;"><span class="stl_18 stl_08 stl_09" style="word-spacing:-0em;">[Champ URL] </span></div>
					<div class="stl_01" style="left:26.606em;top:38.0722em;"><span class="stl_16 stl_08 stl_09" style="word-spacing:-0em;">Expérience 2 </span></div>
					<div class="stl_01" style="left:2.149em;top:52.1367em;"><span class="stl_16 stl_08 stl_09" style="word-spacing:-0em;">Expérience 3 </span></div>
					<div class="stl_01" style="left:26.5892em;top:52.1367em;"><span class="stl_16 stl_08 stl_09" style="word-spacing:0em;">Expérience 4 </span></div> #}

				</div>
			</div>
		</div>

	{# 	<div id="page_1" class="stl_ stl_02">
			<div class="stl_03">
				
			</div>
			<div class="stl_view">
				<div class="stl_05 stl_06">

		

				

         	<div class="stl_01" style="left:2.8656em;top:38.3759em;"><span class="stl_19 stl_08 stl_11" style="word-spacing:0.0001em;">CERTIFICATIONS ET ATTESTATIONS </span></div>
					<div class="stl_01" style="left:11.705em;top:42.2627em;"><span class="stl_21 stl_08 stl_09" style="word-spacing:0em;">[Champ texte] </span></div>
					<div class="stl_01" style="left:11.705em;top:44.1039em;"><span class="stl_21 stl_08 stl_09" style="word-spacing:0em;">[Champ texte] </span></div>
					<div class="stl_01" style="left:2.1843em;top:42.2811em;"><span class="stl_20 stl_08 stl_09" style="word-spacing:-0em;">Certifications obtenues : </span></div>
					<div class="stl_01" style="left:11.705em;top:46.0755em;"><span class="stl_21 stl_08 stl_09" style="word-spacing:0em;">[Champ texte] </span></div>
					<div class="stl_01" style="left:11.705em;top:47.9736em;"><span class="stl_21 stl_08 stl_09" style="word-spacing:0em;">[Champ texte] </span></div>
					<div class="stl_01" style="left:11.705em;top:49.9196em;"><span class="stl_21 stl_08 stl_09" style="word-spacing:0em;">[Champ texte] </span></div>
					<div class="stl_01" style="left:11.705em;top:51.8253em;"><span class="stl_21 stl_08 stl_09" style="word-spacing:0em;">[Champ texte] </span></div>
					<div class="stl_01" style="left:2.1843em;top:55.8694em;"><span class="stl_20 stl_08 stl_09" style="word-spacing:-0em;">Prix/Distinctions : </span></div>
					<div class="stl_01" style="left:11.7847em;top:55.8708em;"><span class="stl_21 stl_08 stl_09" style="word-spacing:-0em;">[Champ texte ] </span></div>
					<div class="stl_01" style="left:24.0102em;top:55.8708em;"><span class="stl_21 stl_08 stl_09" style="word-spacing:-0em;">[Champ texte ] </span></div>
					<div class="stl_01" style="left:36.7513em;top:55.8694em;"><span class="stl_21 stl_08 stl_09" style="word-spacing:-0em;">[Champ texte ] </span></div>

					<div class="stl_01" style="left:2.8656em;top:59.2763em;"><span class="stl_19 stl_08 stl_11" style="word-spacing:0.0001em;">ACTIVITÉS EXTRA-PROFESSIONNELLES </span></div>
					<div class="stl_01" style="left:11.5312em;top:63.1938em;"><span class="stl_21 stl_08 stl_09" style="word-spacing:-0em;">Nom de l'association : [Champ texte] </span></div>
					<div class="stl_01" style="left:2.1843em;top:63.2712em;"><span class="stl_20 stl_08 stl_09" style="word-spacing:-0em;">Associations/Clubs : </span></div>
					<div class="stl_01" style="left:11.5312em;top:65.387em;"><span class="stl_21 stl_08 stl_09" style="word-spacing:-0em;">Poste occupé : [Champ texte] </span></div>
					<div class="stl_01" style="left:11.5312em;top:67.403em;"><span class="stl_21 stl_08 stl_09" style="word-spacing:-0em;">Durée : [De (mois/année) à (mois/année)] </span></div>
					<div class="stl_01" style="left:11.5312em;top:69.4962em;"><span class="stl_21 stl_08 stl_09" style="word-spacing:-0em;">Description des activités : [Champ texte] </span></div>
					<div class="stl_01" style="left:11.5312em;top:72.402em;"><span class="stl_21 stl_08 stl_09" style="word-spacing:-0em;">Nom de l'association : [Champ texte] </span></div>
					<div class="stl_01" style="left:2.1843em;top:72.4794em;"><span class="stl_20 stl_08 stl_09" style="word-spacing:-0em;">Associations/Clubs : </span></div>
					<div class="stl_01" style="left:11.5312em;top:74.5951em;"><span class="stl_21 stl_08 stl_09" style="word-spacing:-0em;">Poste occupé : [Champ texte] </span></div>
					<div class="stl_01" style="left:11.5312em;top:76.6111em;"><span class="stl_21 stl_08 stl_09" style="word-spacing:-0em;">Durée : [De (mois/année) à (mois/année)] </span></div>
					<div class="stl_01" style="left:11.5312em;top:78.7044em;"><span class="stl_21 stl_08 stl_09" style="word-spacing:-0em;">Description des activités : [Champ texte] </span></div>
					<div class="stl_01" style="left:2.1843em;top:82.3125em;"><span class="stl_20 stl_08 stl_09" style="word-spacing:-0em;">Autres activités/hobbies : </span></div>
					<div class="stl_01" style="left:13.0736em;top:82.3123em;"><span class="stl_21 stl_08 stl_09" style="word-spacing:-0em;">[Champ texte ] </span></div> 


				</div>
			</div>
		</div> #}
	</body>
</html>
