{% extends "template.html.twig" %}

{% block title %}{{'stock'|trans}}{% endblock %}

{% block body %}
 <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
          <div class="breadcrumb-title pe-3">{{'stock'|trans}}</div>
          <div class="ps-3">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="javascript:;"><i class="bi bi-box-seam"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page"> {{'details_article_n'|trans}}  {{article.id}}  </li>
              </ol>
            </nav>
          </div>
        
        </div>
        <hr/>

        <div class="card">
          <div class="card-body">
		   {% include "flaches.html.twig" %}
            <div class="table-responsive">
              

					<table class="table table-striped table-bordered" >
							
								<tbody>
										<tr>
											<td>{{'code'|trans}}</td> <td>{{article.code}}</td>
										</tr>
					
										<tr>
											<td> {{'fournisseur'|trans}}</td> <td>{{article.fournisseur.raisonSociale}}</td>
										</tr>
										<tr>
											<td> {{'categorie'|trans}}</td> <td>{{article.categorie.designation}}</td>
										</tr>
										<tr>
											<td> {{'s_categorie'|trans}}</td> <td>{{article.sousCategorie.designation}}</td>
										</tr>
										
					
				                       	<tr>
											<td> {{'designation'|trans}}</td> <td>{{article.designation}}</td>
										</tr>

										<tr>
											<td> {{'ref'|trans}}</td> <td>{{article.reference}}</td>
										</tr>

                                        <tr>
											<td> {{'seuil'|trans}}</td> <td>{{article.seuil}}</td>
										</tr>
										
		
								</tbody>
							
							</table>

            </div>


          </div>
        </div>
		<div>
        	<a class="btn btn btn-primary px-4 col-2" style="float:left" href="{{ path('articles') }}"> {{'back'|trans}} </a>                    
        </div>
							                    

{% endblock %}
{% block javascripts %}
	{{ parent() }}
{% endblock %}

              						