{% extends 'base.html.twig' %}

{% block title %}EchelonAv{% endblock %}

{% block body %}
    <h1>EchelonAv</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ echelon_av.id }}</td>
            </tr>
            <tr>
                <th>Rapide</th>
                <td>{{ echelon_av.rapide }}</td>
            </tr>
            <tr>
                <th>Exceptionnel</th>
                <td>{{ echelon_av.exceptionnel }}</td>
            </tr>
            <tr>
                <th>Normale</th>
                <td>{{ echelon_av.normale }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_echelon_av_index') }}">back to list</a>

    <a href="{{ path('app_echelon_av_edit', {'id': echelon_av.id}) }}">edit</a>

    {{ include('echelon_av/_delete_form.html.twig') }}
{% endblock %}
