{% extends 'base.html.twig' %}

{% block title %}BudgetEntree{% endblock %}

{% block body %}
    <h1>BudgetEntree</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ budget_entree.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ budget_entree.libelle }}</td>
            </tr>
            <tr>
                <th>Annee</th>
                <td>{{ budget_entree.annee }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ budget_entree.montant }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_budget_entree_index') }}">back to list</a>

    <a href="{{ path('app_budget_entree_edit', {'id': budget_entree.id}) }}">edit</a>

    {{ include('budget_entree/_delete_form.html.twig') }}
{% endblock %}
